/*
 * Cyberpunk Neon Theme for Prism
 * Based on Cyberpunk Neon by Roberto Michán Sánchez (Roboron)
 * Original: https://github.com/Roboron3042/Cyberpunk-Neon
 * License: CC-BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0/
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #0abdc6;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #091833 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7982a9;
}

.token.punctuation {
	color: #0abdc6;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ea00d9;
}

.token.boolean,
.token.number {
	color: #ffff00;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #00ff00;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #0abdc6;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #f57800;
}

.token.keyword {
	color: #ea00d9;
}

.token.regex,
.token.important {
	color: #f57800;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
